/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.w100{
    width: 100%;
}

.w80 {
    width: 80%;
}
.w50 {
    width: 50%;
}